header {
  width: 100%;
  background-color: #FFF;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 72px;
}

.logo {
  width: 119px;
  height: 13px;
  background-color: #999999;
}

.icon {
  width: 62px;
  height: 27px;
  background-color: #999999;
  border-radius: 2px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  background-color: transparent;
  border-radius: 2px;
  width: 70px;
}

.secondary {
  border: 2px solid #999999;
}

.primary {
  background-color: #262626;
  color: white;
}

@media screen and (max-width: 500px) {
  .icon {
    display: none;
  }
  .buttons > .btn {
    height: 30px;
  }
}