.first-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second-side{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.shop-item {
  border: 1px solid rgba(117, 117, 117, 0.2);
  width: 470px;
  height: 160px;
}

.box {
  width: 170px;
  height: 160px;
  border-radius: 2px;
  background-color: #D8D8D8; 
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
}