@import url(./css/header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 856px;
  margin: 0 auto;
  justify-content: space-between;
}

@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
    padding: 0 8px;
  }
}

